*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}


hr{
    margin: 10px;
}

h1{
    background-color:beige;
    text-align: center;
}

h2 {
    text-align: center;
}

p{
    margin: 1rem;
    text-align: center;

}

#success{
    margin:50px; font-size:"30px;"
}

.container{
    width: 40%;
    padding: 20px;
    margin: auto;
    border: 3px solid rosybrown;
    justify-content: center;
}

.container2{
    width: 40%;
    padding: 20px;
    margin-top: 8rem;
    border: 2px solid rosybrown;
    align-items: center;
    justify-content: center;

}

.container3 {
    width: 50%;
    padding: 20px;
    margin-top: 10rem;
    border: 3px solid rosybrown;
    align-items: center;
    justify-content: center;

}

label{
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
}
input{
    width: 100%;
    padding: 10px;
    background-color: #f1f1f1;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
}

.checkinput{
    width: 5%;
    

}

input:focus{
    background-color: #ddd;
    border: none;
}

.submit{
    width: 100%;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    background-color: greenyellow;
    color: black;
  font-size:bolder;
    margin-top: 10px;
    border: none;
}

.submit:hover{
    opacity: 0.7;
}

a{
  color:green; background:transparent;
  text-decoration:none;
  
}